@font-face {
  font-family: 'MiSans';
  src: url("./images/MiSans-Heavy.ttf") format("truetype");
}
.search-text {
  font-size: 20px;
  color: #f00;
  font-family: 'MiSans';
}

.search-img {
  width: 100px;
  height: 100px;
}